/* Century Gothic Regular */
@font-face {
    font-family: "Century Gothic";
    src: url('fonts/GOTHIC.TTF') format('truetype');

    font-weight: normal;
    font-style: normal;
}

/* Century Gothic Bold */
@font-face {
    font-family: "Century Gothic Bold";
    src: url('fonts/GOTHICB.TTF') format('truetype');

    font-weight: bold;
    font-style: normal;
}

:root {
    --main-bg-color: #e6e6e6;
    --sec-bg-color: #dcdcdc;
    --main-header-color: #646464;
    --main-textBody-color: #141414;
    --stanley-creative-color:#00AFB0;
    --stanley-creative-color-dark:#0c8f8f;
    --main-btnText-color: #e6e6e6;
}

body {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;
   
    background: var(--main-bg-color);
    background-image: linear-gradient(var(--sec-bg-color) .05em, transparent .05em), linear-gradient(90deg, var(--sec-bg-color) .05em, transparent .05em);
    background-size: 3em 3em;

    color: var(--main-textBody-color);
    font-family:"Century Gothic", Calibri, Tahoma, sans-serif;
}

b {
    font-family:"Century Gothic Bold", Calibri, Tahoma, sans-serif;
}

th {
    color: var(--main-header-color);
    font-family:"Century Gothic Bold", Calibri, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5 {
    color: var(--main-header-color);
    font-family:"Century Gothic Bold", Calibri, Tahoma, sans-serif;
}

.jumbotron {
    background-color:#00000000 !important;
}

.inner {
    background-color:#00000000 !important;
}


.rounded {
    border-radius: 8px !important;
}

.rounded-more {
    border-radius: 12px !important;
}

.rounded-less {
    border-radius: 4px !important;
}

.table {
    background-color:var(--main-bg-color);
    color: var(--main-textBody-color)
}

table.table-bordered {
    border: var(--sec-bg-color);
}

table.table-bordered > thead {
    background-color: var(--sec-bg-color);
}

.color-main {
    color: var(--stanley-creative-color)
}

.color-sec {
    color: var(--main-header-color)
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-main {
    background-color: var(--stanley-creative-color);
}

.dot-error {
    background-color: red;
}

.btn {
    color: var(--main-btnText-color) !important;
}

.btn-success {
    background-color: var(--stanley-creative-color);
    border-color: var(--stanley-creative-color);
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: var(--stanley-creative-color-dark);
    border-color: var(--stanley-creative-color-dark);
}